<form class="{{cssClass}}" autocomplete="off">
    <div id="pj-titre">
        <div class="flexrow objet">
            <div class="grid-2col" style="max-width: 134px;">
                <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128"/>
            </div>
            <div class="grid-2col">
                <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
                <h2>Description</h2>
                <textarea name="system.description" style="min-height: 80px">{{item.system.description}}</textarea>
            </div>
        </div>
    </div>  
    <div class="flexrow objet">
        <div class="grid-2col">
            <label>Valeur
                <input name="system.valeur" type="text" value="{{item.system.valeur}}" placeholder="Valeur"/>
            </label>
            <select name="system.caract">
                {{#select item.system.caract}}
                    <OPTION value="vigueur" title="">Vigueur</OPTION>
                    <OPTION value="coordination" title="">Coordination</OPTION>
                    <OPTION value="logique" title="">Logique</OPTION>
                    <OPTION value="empathie" title="">Empathie</OPTION>
                    <OPTION value="instinct" title="">Instinct</OPTION>
                    <OPTION value="pouvoir" title="">Pouvoir</OPTION>
                {{/select}}
            </select>
        </div>
        <div class="grid-2col">
            <label>Bonus / malus
                <input name="system.bonus" type="text" value="{{item.system.bonus}}" placeholder="Valeur"/>
            </label>
        </div>
    </div>
</form>